USE [master]
GO
/****** Object:  Database [appDVDs]    Script Date: 6/12/2022 1:54:14 PM ******/
CREATE DATABASE [appDVDs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'appDVDs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\appDVDs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'appDVDs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\appDVDs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [appDVDs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [appDVDs]
GO
/****** Object:  Table [dbo].[DVDsDB]    Script Date: 6/12/2022 1:54:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVDsDB](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[description] [text] NULL,
	[category] [nvarchar](100) NULL,
	[rating] [int] NULL,
	[seller] [int] NULL,
	[price] [nvarchar](5) NULL,
	[inStock] [int] NULL,
 CONSTRAINT [PK_DVDsDB] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sellersDB]    Script Date: 6/12/2022 1:54:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sellersDB](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[surname] [nvarchar](50) NULL,
	[company] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[mail] [nvarchar](50) NULL,
	[site] [nvarchar](50) NULL,
	[note] [text] NULL,
	[status] [nvarchar](20) NULL,
 CONSTRAINT [PK_sellersDB] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teamDB]    Script Date: 6/12/2022 1:54:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teamDB](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[surname] [nvarchar](100) NULL,
	[post] [nvarchar](20) NULL,
	[age] [int] NULL,
	[department] [nvarchar](50) NULL,
	[login] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[role] [int] NULL,
	[adress] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
 CONSTRAINT [PK_teamDB] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DVDsDB]  WITH CHECK ADD  CONSTRAINT [FK_DVDsDB_sellersDB] FOREIGN KEY([seller])
REFERENCES [dbo].[sellersDB] ([_id])
GO
ALTER TABLE [dbo].[DVDsDB] CHECK CONSTRAINT [FK_DVDsDB_sellersDB]
GO
USE [master]
GO
